<!DOCTYPE html>
<html>
    <head>
        <title>top page</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UYF-8" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>



    <!-- 繰り返し -->
    <!-- <body class="container">                        
        <h1 class="display-4 mb-4">Hello page</h1>
        <ul>
          {{#data}}
          <li>{{.}}</li>
          {{/data}}
        </ul>
        <hr>
        <ul>
          {{#data}}
          <li><b>{{name}}</b>[{{age}}]</li>
          {{/data}}
        </ul>
      </body> -->
    <!-- <body class="container">
        <h1 class="display-4 mb-4">Hello page</h1>
        {{#fn}}
        <h6>{{title}}</h6>
        <p>{{msg}}</p>
        {{/fn}}
    </body> -->

    <body class="container">
      <h1 class="display-4 mb-4" th:text="${title}"></h1>
      <p th:text="${msg}"></p>
      <pre th:text="${data}"></pre>
    </body>
    
</html>